{% extends "layout.html" %}

{% block content %}
	<label>Welcmome user:{{username}}</label>
	<div class="login-form">
    <form action="send" method="post">
        <h2 class="text-center">Send a New Message</h2>       
        <div class="form-group">
        	<label>Send To:</label><select name="to">
        	{% for u in user_list %}
        		<option value="{{u.user_nm}}">{{u.user_nm}}</option>
        	{% else %}
        		<option value="">}</option>
        	{% endfor %}	
        	</select>
        </div>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Subject" required="required" name="subject" maxlength="20" pattern="[A-Za-z0-9 ]{1,}">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Type your message here...(140 characters)" required="required" name="message" maxlength="140"">
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block">Send</button>
        </div>     
    </form>
	</div>
	<h2>Your Messages</h2>
	<ul>
	{% for d in data %}
		<hr>
		<label> From: {{d.from_id}}</label><br>
		<label> To: {{d.to_id}} </label><br>
		<label> Date: {{d.last_up_tm }}</label><br>
		<label> Subject: {{d.subject}}</label><br>
		<label> {{d.text}}</label>
		<br><br><br>
	  
	{% else %}
	  <li>No messages!</li>
	{% endfor %}
	</ul>
	

{% endblock %}
