{% extends "layout.html" %}

{% block content %}
	<h3>Welcmome user: {{username}}</h3>
	<div>
		<h4><a href="/compose">Create New Message</a></h4>
	</div>
	<h2>Your Messages</h2>
	<ul>
	{% for d in data %}
		<hr>
		<label> From: {{d.from_id}}</label><br>
		<label> To: {{d.to_id}} </label><br>
		<label> Date: {{d.last_up_tm }}</label><br>
		<label> Subject: {{d.subject}}</label><br>
		<label> {{d.text}}</label>
		<br><br><br>
	  
	{% else %}
	  <li>No messages!</li>
	{% endfor %}
	</ul>
	

{% endblock %}
